/* GENERAL */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0a0a0a;
    color: white;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00c8ff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00c8ff;
}

/* HERO */
.hero-section {
    margin-top: 80px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 50px;
}

.hero-title span {
    color: #00c8ff;
}

.hero-subtitle {
    font-size: 20px;
    opacity: 0.8;
}

.btn-primary {
    background: #00c8ff;
    color: black;
    padding: 12px 22px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #009ec2;
}

/* FOTO */
.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid #00c8ff;
    object-fit: cover;
}

/* SECTIONS */
.section {
    padding: 80px 60px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.section-text {
    font-size: 18px;
    max-width: 800px;
}

.dark {
    background: #111;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill {
    background: #1a1a1a;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #00c8ff;
}

/* PROJECTS */
.projects-container {
    display: grid;
    gap: 20px;
}

.project-card {
    display: block;
    padding: 25px;
    background: #1a1a1a;
    border-radius: 12px;
    border: 1px solid #00c8ff;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.project-card:hover {
    background: #00c8ff;
    color: black;
}

/* CONTACT */
.contact-box {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #00c8ff;
    max-width: 400px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    margin-top: 40px;
    opacity: 0.6;
}
